$mainGrey: #515151;
$mainGreen: #90B52D;
$mainBlue: #2F4464;
$mainFont: "Rubik", sans-serif;


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


//-------Slider
$numOfSlides: 5;
$slidingAT: 1.3s;
$controlSize: 60px;

.slider {
  width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  height: 80vh;
  border-radius: 10px;

  &__slides {
    z-index: 1;
    position: relative;
    height: 100%;
  }

  &__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    width: $controlSize;
    height: $controlSize;
    margin-left: $controlSize/-2;
    margin-top: $controlSize/-2;
    border-radius: 50%;
    background: whitesmoke;
    transition: background-color 0.3s;
    cursor: pointer;

    &--right {
      left: 95%;
    }

    &:hover {
      background-color: $mainGreen;
    }

    &-line {
      position: absolute;
      left: 23px;
      top: 50%;
      width: 3px;
      height: 14px;
      transform-origin: 50% 0;
      transform: rotate(-45deg);

      &:nth-child(2) {
        transform: translateY(1px) rotate(-135deg);
      }

      .slider__control--right & {
        left: 37px;
        transform-origin: 1px 0;
        transform: rotate(45deg);

        &:nth-child(2) {
          transform: translateY(1px) rotate(135deg);
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: lighten($mainGrey, 20%);
        transition: background-color 0.3s;
      }

      .slider__control:hover &:after {
        background-color: whitesmoke;
      }

      .slider__control.a--rotation & {

        &:after {
          animation: arrowLineRotation 0.49s;
        }

        &:nth-child(1):after {
          animation: arrowLineRotationRev 0.49s;
        }
      }
    }
  }
}

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}

@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}

.slide {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 150vmax;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: clip-path 0s $slidingAT*0.7;
  clip-path: circle($controlSize/2 at 120vw 50%);

  &.s--prev {
    clip-path: circle($controlSize/2 at 30vw 50%);
  }

  &.s--active {
    z-index: 1;
    transition: clip-path $slidingAT;
    clip-path: circle(120vmax at 120vw 50%);

    &.s--active-prev {
      clip-path: circle(120vmax at 30vw 50%);
    }
  }

  @for $i from 1 through $numOfSlides {
    &:nth-child(#{$i}) {
      .slide__inner {
        //background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-#{$i+1}.jpg');
        background-image: url('../../src/assets/banner#{$i+1}.jpg');
      }
    }
  }

  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center center;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
    }
  }

  &__content {
    position: absolute;
    left: 25%;
    top: 50%;
    margin-left: $controlSize/-2;
    margin-top: $controlSize*0.8;
    max-width: 480px;
    color: whitesmoke;
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 60px;
  }

  &__text {
    font-size: 25px;

    a {
      color: inherit;
    }
  }
}

//----------------------------------------------------------



















* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

body {
  width: 100%;
  font-size: 16px;


  //@media screen and (max-width: 375px) {
  //  body {
  //    max-width: 375px;
  //  }
  //
  //  html {
  //    max-width: 375px!important;
  //  }
  //}
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  padding: 50px 0 80px 0;
  margin: auto;
}

.header {

  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1280px;
  height: 115px;
  padding: 0 25px;



  &__nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    list-style: none;

    &-item {
      text-decoration: none;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: $mainGrey;
      transition: all 0.1s ease;
      &:hover {
        color: $mainBlue;
      }

      &_desiccants {
        display: inline-block;
        width: 100px;
        border-right: 1px solid #dcdcdc;
      }
      a {
        text-decoration: none;
        color: $mainGrey;
        &:hover {
          color: $mainGreen;
        }
      }
    }

  }
}

.nav {
  &_top {
    margin: 0 auto;
  }
}


// html {
//   max-width: 1920px;
//   font-size: 16px;
// }

// @media screen and (max-device-width: 375px) {
//   html {
//     max-width: 375px;
//   }
// }


//
//@media screen and (max-device-width: 375px) {
//
//}


.content-wrapper {
  width: 79.16%;
  align-items: center;
  justify-content: space-between;
}


.hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: #e8e8e8; /* Цвет линии для остальных браузеров */
  background-color: #e8e8e8; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */

}




form {
  display: flex;
  margin-bottom: 2.08333333333vw;

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 2.75rem;
    background: #ffffff;
    outline: none;
    border: 1px solid #079D28;
    border-radius: 5px;
    cursor: pointer;
    color: #079D28;

    img {
      margin-right: 0.479375rem;
    }
  }
}


.drug-category-wrapper {
  width: 1200px;
  padding-top: 50px;


  h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 34px;
    margin-bottom: 2.08333333333vw;
  }
}

.drug-category {
  display: flex;
  flex-wrap: wrap;
  height: 960px;
  justify-content: space-between;
  margin-bottom: 25px;

}

.drug-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 280px;
  height: 460px;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 220px;
    height: 268px;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    color: $mainGrey;
    margin-bottom: 10px;
  }

  &__short-description {
    text-align: center;
  }

  &-button {
    display: flex;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid $mainGreen;
    border-radius: 5px;
    outline: none;
    user-select: none;
    background: #FFFFFF;
    color: $mainGreen;
    font-size: 16px;
    cursor: pointer;


    &:hover {
      background: $mainGreen;
      color: whitesmoke;

      svg {
        stroke: whitesmoke;
        transform: scale(1.3);
        transition: all 0.3s ease;
      }
    }

    svg {
      stroke: $mainGreen;
    }
  }

}


.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 202px;
  height: 49px;
  border: 1px solid $mainGreen;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;
  color: $mainGreen;
  svg {
    fill: $mainGreen;
    margin-right: 10px;
  }

  &:hover {
    background: $mainGreen;
    color: whitesmoke;

    svg {
      fill: whitesmoke;
      transform: rotate(180deg);
      transition: all 0.4s ease;
    }
  }
}


.bottom-nav {
  display: flex;
  align-items: center;
  width: 79.16%;
  height: 5.20833333333vw;
  margin: auto;

  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    li {
      a {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 1.125rem;
        color: #515151;
        text-decoration: none;

        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}


.drug-table {
  border: 1px solid #cccccc;
  border-radius: 5px;

  th {
    background: #90B52D;
    height: 60px;
    width: 25%;
    font-weight: lighter;
    text-shadow: 0 1px 0 lighten(black, 50%);
    color: white;
    border: 1px solid #90B52D;
    box-shadow: inset 0px 1px 2px #90B52D;
    transition: all 0.2s;
  }

  tr {
    border-bottom: 1px solid #cccccc;
  }

  tr:last-child {
    border-bottom: 0px;
  }

  td {
    border-right: 1px solid #cccccc;
    padding: 10px;
    transition: all 0.2s;
  }

  td:last-child {
    border-right: 0px;
  }

}

.drug-instruction {
  font-family: "Rubik", sans-serif;
  color: $mainGrey;
  padding: 60px 0;

  &-benefits {
    list-style-type: none;
    padding: 20px 0;

    &__item {
      display: flex;
      align-items: center;
    }

    &-text {
      padding-left: 10px;
      line-height: 30px;
    }
  }


  &__recommendation {
    &-heading {
      padding: 15px 0;
      font-weight: 400;
      font-size: 20px;
      color: $mainGreen;
    }

    &-text {
      font-family: "Rubik", sans-serif;
      color: $mainGrey;
      padding-bottom: 20px;
    }
  }
}


.drug-full-info {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  color: #515151;

  .drug-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 25px;

  }

  .drug-description {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin-bottom: 60px;

    .drug-short-description {
      margin-bottom: 30px;
    }


    &-nav {
      display: flex;
      width: 320px;
      justify-content: space-between;
    }
  }

  .drug-heading {
    font-family: "Rubik", sans-serif;
    font-weight: lighter;
    font-size: 35px;
  }

  .drug-picture {
    width: 200px;
    height: 213px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }

  .drug-text {
    width: 900px;
  }

  .drug-ul {
    list-style-type: none;
    margin-bottom: 25px;

    &__item {
      display: flex;
      align-items: center;

    }

    &__point {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 18px;
      width: 240px;
    }
  }
}

.drug-alphabetically-category {
  align-self: baseline;
  display: flex;
  padding: 15px 0;
  border-top: 1px solid lighten($mainGreen, 35%);
  &-wrapper {
    width: 1100px;
    padding: 30px 0 30px 0;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid $mainGreen;
    border-radius: 50%;
    color: $mainGrey;
    user-select: none;
  }

  &__list {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;


  }
}

.drug-alphabetically {
  width: 160px;
  display: flex;
  align-items: center;
  padding: 5px;

  &__canister-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }

  &__name {
    text-decoration: none;
    font-size: 20px;
    color: lighten($mainGrey, 10%);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    padding: 0 5px;
    border-radius: 5px;

    &:hover {
      background: $mainGreen;
      color: whitesmoke;

    }
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #4A4F5A;

  &-nav {
    display: flex;
    list-style-type: none;
    &__item {
      padding: 0 10px;
      border-right: 2px solid lighten(#a0a0a0, 10%);

      &:last-child {
        border-right: none;
      }
    }

    &__item-link {
      text-transform: uppercase;
      text-decoration: none;
      color: whitesmoke;
      font-size: 18px;
      &:hover {
        color: darken(whitesmoke, 8%);
      }
    }
  }

  &-content {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    &-docs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 530px;
      height: 130px;
      text-align: center;
      font-size: 12px;
      line-height: 20px;

      &__terms-of-use {
        width: 270px;
        color: whitesmoke;
        line-height: 20px;
        text-decoration: none;
        border-bottom: 1px solid whitesmoke;
      }

    }

    &-phone-logo {
      margin-right: 15px;
    }

    &-phones {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 75px;

      &__item {
        display: flex;
        align-items: center;
        font-size: 17px;
      }
    }

  }
}



.controls {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  &-button {
    padding: 5px 10px;
    background: #ffffff;
    border: 1px solid $mainGreen;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    color: $mainGrey;

    &:hover {
      color: whitesmoke;
      background: $mainGreen;
      transition: all 0.1s ease;
    }
  }
}







nav .drop-down {
  position: absolute;
  z-index: 1000;
  list-style: none;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  //height: 172px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
  border-radius: 5px;
  font-family: $mainFont;
  width: 200px;
  padding: 10px 0;
  //text-align: center;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

nav .drop-down.closed {
  visibility: hidden;
  /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
      with overflow: hidden set on the ul will hide all list items apart from the first */
  /* current li height 38px + 5px border */
  height: 43px;
}

//nav .drop-down li {
//  border-bottom: 1px solid $mainGrey;
//}

nav .drop-down li a {
  display: block;
  color: $mainGrey;
  text-decoration: none;
  padding: 15px; /* Larger touch target area */
}


