$mainGrey: #515151;
$mainGreen: #90B52D;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

body {
  width: 100%;
  font-size: 16px;
  overflow-x: hidden;

  //@media screen and (max-width: 375px) {
  //  body {
  //    max-width: 375px;
  //  }
  //
  //  html {
  //    max-width: 375px!important;
  //  }
  //}
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1500px;
  padding: 50px 15px;
  margin: 0 auto;
}

.header {

  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1500px;
  height: 115px;


  &__nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    list-style: none;

    &-item {
      text-decoration: none;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #515151;

      &_desiccants {
        display: inline-block;
        width: 100px;
        border-right: 1px solid #dcdcdc;
      }
    }

  }
}

.nav {
  &_top {
    margin: 0 auto;
  }
}


// html {
//   max-width: 1920px;
//   font-size: 16px;
// }

// @media screen and (max-device-width: 375px) {
//   html {
//     max-width: 375px;
//   }
// }


//
//@media screen and (max-device-width: 375px) {
//
//}


.content-wrapper {
  width: 79.16%;
  align-items: center;
  justify-content: space-between;
}


.hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: #e8e8e8; /* Цвет линии для остальных браузеров */
  background-color: #e8e8e8; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */

}


.slider-wrapper {
  padding-top: 60px;
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  transform: translateX(-71%);
}

.slider-block {

  box-sizing: content-box;
  flex-shrink: 0;
  display: flex;
  width: 80%;
  position: relative;
  margin-right: 1.04166666667vw;
  border-radius: 15px;

  &__image {
    display: block;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
  }

  &__drug-logo {
    display: block;
    position: absolute;
    top: 90px;
    left: 70px;
  }

  &_first {
    opacity: 0.5;
  }

  &_last {
    opacity: 0.5;
  }


  .slider__block-info {
    position: absolute;
    top: 28.2%;
    left: 6%;
    display: flex;
    flex-direction: column;
    text-shadow: black 0 0 2px;

    .label {
      display: flex;
      width: 7.08333333333vw;
      height: 2.29166666667vw;
      margin-bottom: 0.989583333333vw;
      border-radius: 50px;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 1.04166666667vw;
    }

    h1 {
      width: 100%;
      line-height: 4.32291666667vw;
      font-size: 3.64583333333vw;
      color: #ffffff;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      margin-bottom: 1.09375vw;
    }

    p {
      width: 23.1770833333vw;
      height: 3.4375vw;
      font-family: "Rubik";
      font-weight: 400;
      font-size: 1.04166666667vw;
      line-height: 1.71875vw;
      color: #ffffff;
    }
  }
}


form {
  display: flex;
  margin-bottom: 2.08333333333vw;

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 2.75rem;
    background: #ffffff;
    outline: none;
    border: 1px solid #079D28;
    border-radius: 5px;
    cursor: pointer;
    color: #079D28;

    img {
      margin-right: 0.479375rem;
    }
  }
}


.drug-category-wrapper {
  display: flex;
  flex-direction: column;
  width: 1600px;
  margin: 0 auto 50px auto;

  h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 34px;
    margin-bottom: 2.08333333333vw;
  }
}

.drug-category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.drug-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 460px;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  margin-right: 15px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 220px;
    height: 268px;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    color: #19191b;
    margin-bottom: 10px;
  }

  &__short-description {
    text-align: center;
  }

  &-button {
    display: flex;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid $mainGreen;
    border-radius: 5px;
    outline: none;
    user-select: none;
    background: #FFFFFF;
    color: $mainGreen;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background: $mainGreen;
      color: whitesmoke;

      svg {
        stroke: whitesmoke;
      }
    }

    svg {
      stroke: $mainGreen;
    }
  }

}


.load-more {
  display: flex;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  width: 202px;
  height: 49px;
  border: 1px solid $mainGreen;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;
  color: $mainGreen;
  svg {
    fill: $mainGreen;
    margin-right: 10px;
  }

  &:hover {
    background: $mainGreen;
    color: whitesmoke;

    svg {
      fill: whitesmoke;
    }
  }
}


.bottom-nav {
  display: flex;
  align-items: center;
  width: 79.16%;
  height: 5.20833333333vw;
  margin: auto;

  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    li {
      a {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 1.125rem;
        color: #515151;
        text-decoration: none;

        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}


.drug-table {
  border: 1px solid #cccccc;
  border-radius: 5px;

  th {
    background: #90B52D;
    height: 60px;
    width: 25%;
    font-weight: lighter;
    text-shadow: 0 1px 0 lighten(black, 50%);
    color: white;
    border: 1px solid #90B52D;
    box-shadow: inset 0px 1px 2px #90B52D;
    transition: all 0.2s;
  }

  tr {
    border-bottom: 1px solid #cccccc;
  }

  tr:last-child {
    border-bottom: 0px;
  }

  td {
    border-right: 1px solid #cccccc;
    padding: 10px;
    transition: all 0.2s;
  }

  td:last-child {
    border-right: 0px;
  }

}

.drug-instruction {
  font-family: "Rubik", sans-serif;
  color: $mainGrey;
  padding: 60px 0;

  &-benefits {
    list-style-type: none;
    padding: 20px 0;

    &__item {
      display: flex;
      align-items: center;
    }

    &-text {
      padding-left: 10px;
      line-height: 30px;
    }
  }


  &__recommendation {
    &-heading {
      padding: 15px 0;
      font-weight: 400;
      font-size: 20px;
      color: $mainGreen;
    }

    &-text {
      font-family: "Rubik", sans-serif;
      color: $mainGrey;
      padding-bottom: 20px;
    }
  }
}


.drug-full-info {
  width: 1500px;
  margin: 0 auto;
  padding-top: 40px;
  color: #515151;

  .drug-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 25px;

  }

  .drug-description {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin-bottom: 60px;

    .drug-short-description {
      margin-bottom: 30px;
    }


    &-nav {
      display: flex;
      width: 320px;
      justify-content: space-between;
    }
  }

  .drug-heading {
    font-family: "Rubik", sans-serif;
    font-weight: lighter;
    font-size: 35px;
  }

  .drug-picture {
    width: 200px;
    height: 213px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }

  .drug-text {
    width: 900px;
  }

  .drug-ul {
    list-style-type: none;
    margin-bottom: 25px;

    &__item {
      display: flex;
      align-items: center;

    }

    &__point {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 18px;
      width: 240px;
    }
  }
}

.drug-alphabetically-category {
  align-self: baseline;
  display: flex;
  padding: 25px 15px;


  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid $mainGreen;
    border-radius: 50%;
    color: $mainGrey;
    user-select: none;
  }

  &__list {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    padding: 15px;


  }
}

.drug-alphabetically {
  display: flex;
  align-items: center;
  padding: 5px 5px;

  &__canister-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }

  &__name {
    text-decoration: none;
    font-size: 20px;
    color: lighten($mainGrey, 10%);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    padding: 0 5px;
    border-radius: 5px;

    &:hover {
      background: $mainGreen;
      color: whitesmoke;

    }
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background: #4A4F5A;
  padding: 30px;

  &-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 30px;

    &__item {
      padding: 0 10px;
      border-right: 2px solid lighten(#a0a0a0, 10%);

      &:last-child {
        border-right: none;
      }
    }

    &__item-link {
      text-transform: uppercase;
      text-decoration: none;
      color: whitesmoke;
      font-size: 18px;
    }
  }

  &-content {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 90px;
  }
}

.contacts {
  display: flex;
  width: 1000px;
  justify-content: space-between;

  &-docs-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 530px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;

    &__terms-of-use {
      width: 270px;
      color: whitesmoke;
      line-height: 20px;
      text-decoration: none;
      border-bottom: 1px solid whitesmoke;
    }

  }

  &-phone-logo {
    margin-right: 15px;
  }

  &-phones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;

    &__item {
      display: flex;
      align-items: center;
      font-size: 17px;
    }
  }
}

.controls {
  &-button {
    padding: 5px 10px;
    background: #ffffff;
    border: 1px solid $mainGreen;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    color: $mainGrey;

    &:hover {
      color: whitesmoke;
      background: $mainGreen;
      transition: all 0.1s ease;
    }
  }
}






